<!DOCTYPE html>
<html lang="en">

<%- include('header') -%>

 <body>

    <div class="container">
        <a href="/" class="button inner-link"><i class="material-icons mr-2">arrow_left</i>Back</a>
        <h1 class="mb-4 text-white">Editing <%= user.first_name %> <%= user.last_name %></h1>

        <form action="/users/<%= user.id %>" method="POST" enctype="multipart/form-data">

            <div class="form-group">
                <label for="first_name" class="text-white">First Name</label>
                <input type="text" class="form-control" placeholder="First Name" name="first_name" value="<%= user.first_name %>" required>
            </div>

            <div class="form-group">
                <label for="last_name" class="text-white">Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name" name="last_name" value="<%= user.last_name %>" required>
            </div>

            <div class="form-group">
                <label for="bio" class="text-white">Bio</label>
                <textarea name="bio" placeholder="Biography" class="form-control">
                    <%= user.bio %>
                </textarea>
            </div>

            <div class="form-group">
                <label for="birthday" class="text-white">Birthday</label>
                <input type="date" name="birthday" class="form-control" value="<%= user.birthday %>">
            </div>

            <div class="form-group">
                <label for="country" class="text-white">Country</label>
                <select id="country" name="country" class="form-control">
                    <%- include('countryCodes') -%>
                </select>
            </div>

            <div class="form-group">
                <label for="country" class="text-white">Current Passport Picture</label>
                <div style="display: flex;">
                    <img src="/uploads/images/<%= user.img %>" width="100px" height="100px" alt="Passport Picture">
                    <div class="form-group" style="padding: 0 0 0 2em;">
                        <label for="image" class="text-white">Replace</label>
                        <input type="file" name="image" id="image" class="form-control-file text-white">
                    </div>
                </div>
            </div>
            
            <button type="submit" class="button" style="width: 4em;">Save</button>
            <a href="/" class="inner-link button-danger" style="width: 3em;">Cancel</a>

        </form>
    </div>

    <script>
        let element = document.getElementById('country');
        element.value = '<%= user.country %>';
    </script>

</body>



</html>